################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AgentFlow/.vs
/AgentFlow/AgentFlow/obj
/AgentFlow/llm-abstraction/obj
/AgentFlow/LLMConnector/obj
/AgentFlow/AgentFlow/bin/Debug/net8.0
/AgentFlow/LLMAbstraction.ConsoleExample/bin/Debug/net8.0
/AgentFlow/LLMAbstraction.ConsoleExample/obj
/AgentFlow/llm-abstraction/bin/Debug/net6.0
/AgentFlow/llm-abstraction/bin/Debug/net8.0
